$phone-width: 375px;
$tablet-width: 768px;
$laptop-width: 1024px;
$destop-width: 1240px;

$color-grey: #b7b7b7;
$btn-color: #1f7793;
$white: rgb(231, 231, 231);

$input-color: #1f7793;
$input-hover-background: rgba($white, .07);

$primary-color: #1f7793;
$secondary-color: #b889f9;
$third-color: #1ECD97;
$error-color: rgb(219, 65, 30);
$background-color: rgb(32, 39, 78);

$main-container-background-color: rgba(255, 255, 255, 0.1);
$main-container-border-radius: 20px;
$main-container-border: 1px solid rgba(255, 255, 255, 0.2);
$main-container-max-width-desktop: 1240px;
$main-container-max-width-laptop: 90vw;

$button-text-color: #fff;
$link-color: #fff;
$text-color: #fff;

@mixin phone {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}